.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(165, 163, 163);
    font-weight: 500;
}

.btn-categoria {
    margin-bottom: .8rem;
}

.table {
    width: 100%;
}

.livros {
    margin-left: .6rem;
    color: #4e4ec7;
}

.edit {
    color: #4e4ec7;
}

.delete {
    color: #f94141;
    margin-left: .4rem;
}

.mat-header {
    width: 6rem;
}

